@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
}
/* HEADER SECTION STYLING STARTED */

.nav-container {
  width: 75%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-item ul {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 3px;
}
.nav-item ul a {
  text-decoration: none;
}
.nav-item li {
  display: flex;
}
.fitness {
  margin: 55px 0px;
}
.fitness-title {
  color: rgb(230, 83, 60);
  font-style: italic;
  font-size: 36px;
  font-weight: 800;
}
#home {
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
  width: 100px;
  display: flex;
  justify-content: center;
}
.same-style {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  padding: 5px;
}
.mobile-icon {
  display: none;
}
@media screen and (max-width: 576px) {
  .nav-container {
    width: 90%;
  }
  .nav-item {
    display: none;
  }
  .mobile-icon {
    display: block;
    font-size: 25px;
  }
}
.banner-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  ); */
  background-image: linear-gradient(
    to top bottom,
    rgba(119, 119, 119, 1),
    rgba(17, 17, 17, 0)
  );
}
.banner-content {
  width: 45%;
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43%;
}
.banner-title {
  font-size: 4em;
  font-weight: 850;
  opacity: 0.9;
}
.banner-title span {
  /* font-family: "Dancing Script", cursive; */
  font-family: "Miama", "Dancing Script";
  font-size: 1.5em;
}
.banner-description {
  font-size: 0.85em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
.btn-container {
  width: 95%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5em;
}
.btn-1 {
  width: 45%;
  background: rgb(230, 83, 60);
  color: #ffffff;
  font-size: 1em;
  border-radius: 1.3em;
  border: none;
}
.btn-2 {
  width: 45%;
  background: rgb(17, 17, 17);
  color: #ffffff;
  font-size: 1em;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1.3em;
}
.card-1 {
  width: 10.5em;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 28.5em;
  top: 28.8em;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.icon {
  padding-top: 0.5em;
}
.icon i {
  font-size: 2em;
  color: red;
}
.card-1-description {
  font-size: 0.85em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.6);
}
.card-2 {
  width: 10.5em;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  right: -1em;
  top: 9em;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.card-2-description {
  font-size: 0.85em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.6);
}
@media screen and (max-width: 576px) {
  .banner-container {
    flex-direction: column;
    width: 90%;
  }
  .banner-content {
    width: 95%;
    height: 23em;
    margin-top: 0.01em;
  }
  .banner-title {
    font-size: 3em;
    font-weight: 850;
    opacity: 0.8;
    margin: 0px;
    padding: 0px;
  }
  .btn-container {
    margin-top: 0.5em;
  }
  .image {
    width: 100%;
  }
  .card-1 {
    width: 150px;
    left: 1em;
    top: 39em;
  }
  .card-1-description {
    font-size: 0.7em;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.6);
  }
  .card-2 {
    width: 150px;
    right: 0.7em;
    top: 26.5em;
  }
  .card-2-description {
    font-size: 0.7em;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.6);
  }
  .icon {
    padding-top: 0.25em;
  }
}
/* HEADER SECTION STYLING ENDED*/
/* MAIN SECTION STYLING STARTED*/
.our-course-container {
  width: 100%;
  background-color: rgb(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.our-course-title {
  text-align: center;
  margin-top: 50px;
}
.our-course-description {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.course-content {
  border: 2px solid red;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.course-item-1 {
  border: 1px solid green;
  background-image: url("../images/courses-bodybuilding.jpg");
  background-size: cover;
  background-position: center;
}
.course-item-2 {
  border: 1px solid green;
  background-image: url("../images/courses-crossfit.jpg");
  background-size: cover;
  background-position: center;
}
.course-item-3 {
  border: 1px solid green;
  background-image: url("../images/courses-gymnastic.jpg");
  background-size: cover;
  background-position: center;
}
.course-item-4 {
  border: 1px solid green;
  background-image: url("../images/courses-fitness.jpg");
  background-size: cover;
  background-position: center;
}
.course-item-5 {
  border: 1px solid green;
  background-image: url("../images/courses-boxing.jpg");
  background-size: cover;
  background-position: center;
}
.course-item-6 {
  border: 1px solid green;
  background-image: url("../images/courses-TRX.jpg");
  background-size: cover;
  background-position: center;
}

.habit-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding-bottom: 2em;
}
.habit-title {
  font-size: 3em;
  font-weight: 800;
  opacity: 0.9;
}
.habit-description {
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
  text-align: center;
}
.habit-content {
  display: flex;
  justify-content: space-between;
}
.habit-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  width: calc(25% - 2em);
  gap: 0.5em;
}
.habit-item img {
  border-radius: 50%;
}
.habit-card-title {
  margin-top: 1em;
  font-size: 18px;
  font-weight: 600;
}
.habit-card-description {
  padding: 0.25em;
  text-align: center;
  font-size: 0.7em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
@media screen and (max-width: 576px) {
  .habit-container {
    width: 90%;
  }
  .habit-title {
    font-size: 2em;
    font-weight: 600;
  }
  .habit-content {
    display: flex;
    flex-direction: column;
  }
  .habit-item {
    width: 100%;
  }
  .habit-card-description {
    width: 60%;
  }
}
/* RUN / SECOND SECTION STYLING START */
.run-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.07);
  border-radius: 2em;
}
.run-content-1 {
  width: 50%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.run-content-2 {
  width: 45%;
}
.run-content-2-image {
  width: 85%;
  background-image: url("../images/run.jpg");
  background-position: right;
  background-size: cover;
  height: 17em;
  margin: 2.5em 0em 2em 1.5em;
  border-radius: 2em;
}
.run-title {
  font-size: 3em;
  font-family: 800;
  color: #ffffff;
  opacity: 0.9;
}
.run-description {
  padding: 0.25em;
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
.run-btn {
  width: 50%;
  padding: 1em;
  background-color: rgb(230, 83, 60);
  color: #ffffff;
  border-radius: 3em;
  border: none;
}
@media screen and (max-width: 576px) {
  .run-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 2em;
  }
  .run-content-1 {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .run-content-2 {
    width: 100%;
  }
  .run-content-2 img {
    width: 87%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 1.5em;
  }
  .run-title {
    font-size: 3em;
  }
  .run-btn {
    width: 90%;
  }
}
.bmi-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  margin-top: 3em;
}
.bmi-title {
  font-size: 2.5em;
  font-family: 800;
  color: #ffffff;
  opacity: 0.9;
}
.bmi-description {
  width: 90%;
  padding: 0.25em;
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
@media screen and (max-width: 576px) {
  .bmi-header {
    width: 90%;
  }
}
.bmi-container {
  width: 100%;
  margin-top: 3em;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
}
.bmi-chart-container {
  width: 48%;
  margin: 0 auto;
}
.bmi-chart {
  width: 48%;
  margin: 0 auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 10em);
}
.chart-item {
  border: 1px solid rgb(255, 255, 255, 0.08);
  padding: 1em;
  font-size: 0.7em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
.chart-title {
  font-size: 1.7em;
  font-family: 800;
  color: #ffffff;
  opacity: 0.9;
}
.same-style {
  font-size: 1em;
  color: #ffffff;
  opacity: 0.85;
}
.bmi-calculate-container {
  width: 52%;
  margin-top: 2em;
}
.bmi-calculate-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}
.bmi-calculate-title {
  font-size: 1.7em;
  font-family: 800;
  color: #ffffff;
  opacity: 0.9;
}
.bmi-calculate-description {
  width: 85%;
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
.info-container {
  display: grid;
  grid-template-columns: repeat(2, 16em);
  grid-column: span 2;
  gap: 1em;
}
.info-item {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.6em;
  padding: 1em;
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}

.bmi-calculate-btn {
  width: 250px;
  padding: 0.8em;
  background-color: rgb(230, 83, 60);
  opacity: 0.8;
  color: #ffffff;
  font-size: 1.2em;
  border: none;
  border-radius: 2.5em;
  margin-bottom: 2em;
}
@media screen and (max-width: 576px) {
  .bmi-container {
    flex-direction: column;
  }
  .bmi-chart-container {
    width: 90%;
    margin: 0 auto;
  }
  .bmi-chart {
    width: 100%;
  }
  .bmi-calculate-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
  }
  .info-container {
    display: grid;
    grid-template-columns: repeat(2, 10em);
    grid-column: span 2;
    gap: 1em;
  }
  .bmi-calculate-description {
    width: 100%;
    font-size: 1em;
  }
}
.meet-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 3em;
}
.meet-header-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.meet-title {
  font-size: 2.5em;
  font-family: 800;
  color: #ffffff;
  opacity: 0.9;
}
.meet-description {
  width: 80%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
.meet-item-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  margin-top: 2em;
}
.meet-item {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 18em);
  gap: 1em;
}
.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: flex-start; */
  padding-left: 1em;
  padding-bottom: 0.5em;
}
.image-description {
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.6);
}
.card-01 {
  background-image: url("../images/trainer1.png");
  background-position: center;
  background-size: cover;
}
.card-02 {
  background-image: url("../images/trainer2.png");
  background-position: center;
  background-size: cover;
}
.card-03 {
  background-image: url("../images/trainer3.png");
  background-position: center;
  background-size: cover;
}
.card-04 {
  background-image: url("../images/trainer4.png");
  background-position: center;
  background-size: cover;
}
.card-05 {
  background-image: url("../images/trainer5.png");
  background-position: center;
  background-size: cover;
}
.card-06 {
  background-image: url("../images/trainer6.png");
  background-position: left;
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .meet-item {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 300px);
  }
  .meet-container {
    width: 90%;
  }
  .meet-title {
    font-size: 1.8em;
  }
  .meet-description {
    width: 100%;
  }
}
/* FOOTER SECTION STYLING START */
.footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  /* border: 1px solid red; */
  margin-top: 4em;
}
.footer-container {
  display: flex;
  width: 75%;
  padding: 3em 0em;
  margin: 0 auto;
  margin-bottom: 1.5em;
}
.first-item {
  width: 52%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.first-item-title {
  color: rgb(230, 83, 60);
  font-size: 4em;
  font-weight: 800;
  font-style: italic;
}
.first-item-description {
  width: 80%;
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
.second-item {
  width: 24%;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.second-item-title {
  font-size: 1.7em;
  font-family: 800;
  color: #ffffff;
  opacity: 0.9;
  margin-bottom: 0.5em;
}

.third-item {
  width: 24%;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.third-item-title {
  font-size: 1.7em;
  font-family: 800;
  color: #ffffff;
  opacity: 0.9;
  margin-bottom: 0.5em;
}
.small-title {
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
.reserved-part {
  width: 75%;
  border-top: 1.5px solid rgb(255, 255, 255, 0.15);
  margin: 0 auto;
}
.reserved-description {
  width: 50%;
  /* border: 1px solid red; */
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1em;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.4);
}
@media screen and (max-width: 576px) {
  .footer-container {
    flex-direction: column;
    gap: 2em;
    width: 90%;
  }
  .first-item {
    width: 100%;
  }
  .first-item-description {
    font-size: 0.9em;
  }
  .second-item {
    width: 90%;
  }
  .third-item {
    width: 90%;
  }
  .reserved-part {
    width: 90%;
  }
  .reserved-description {
    width: 100%;
    text-align: start;
    font-size: 1.3em;
  }
}
